.as_textfield
    {
    position: relative;
    margin: 15px 0;
}
.as_textfield > div input
    {
    padding: 12px 10px 7px 16px;
    width: 100%;
    min-width: 300px;
    margin-top: 10px;
    border-radius: 5px;
    border:1px solid #166502;
    box-sizing: border-box;
    color: grey;
    outline-color: rgb(52, 159, 24);
}
.as_textfield > div div.as_textfield_label
    {
        margin-left: 10px;
        position: absolute;
        background: white;
        padding: 0 8px;
        color: rgb(52, 159, 24);
    }
