.as_textareafield
    {
        position: relative;
        margin: 15px 0;
    }
.as_textareafield > div textarea
    {
        min-width: 100%;
        max-width: 100%;
        padding: 12px 10px 7px 16px;
        margin-top: 10px;
        border-radius: 5px;
        border: 1px solid #166502;
        box-sizing: border-box;
    }
.as_textareafield > div div.as_textareafield_label
    {
        margin-left: 10px;
        position: absolute;
        background: white;
        padding: 0 8px;
        color: rgb(52, 159, 24);
    }

