.as_dropdown
    {
        position: relative;
        margin: 15px 0;
    }
.as_dropdown > div select
    {
        padding: 12px 10px 7px 14px;
        width: 100%;
        margin-top: 10px;
        border-radius: 5px;
        border:1px solid #166502;
}
.as_dropdown > div div.as_dropdown_label
    {
        margin-left: 10px;
        position: absolute;
        background: white;
        padding: 0 8px;
        color: rgb(52, 159, 24);
    }
