<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anmeldung</title>
    <link rel="stylesheet" href="../../components/textfield/style.css">
    <link rel="stylesheet" href="../../components/buttonBar/style.css">
    <link rel="stylesheet" href="../../components/tabs/style.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
    <div id="as_page_anmeldung">
            <as-textfield label="Benutzername" v-model="user"></as-textfield>
            <as-textfield label="Passwort" v-model="passwort"></as-textfield>
            <as-button-bar class="asl_buttonBar_recht" :link="false" label="Anmelden" @click="anmelden()"></as-button-bar>
            <as-button-bar :link="true" label="Registrieren" @click="registrieren()"></as-button-bar>
    </div>

    <script src="../../components/textfield/component.js"></script>
    <script src="../../components/buttonBar/component.js"></script>
    <script src="../../components/tabs/component.js"></script>
    <script src="scoped-javascript.js"></script>
</body>
</html>