<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anmeldung</title>
</head>
<body>
    <div id="as_page_anmeldung">
        <as-textfield label="Benutzername" v-model="user"></as-textfield>
        <as-textfield label="Passwort" v-model="passwort"></as-textfield>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js"></script>
    <script src="../../components/textfield/component.js"></script>
    <script src="scoped-javascript.js"></script>
</body>
</html>