<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
    <meta charset="UTF-8">
    <title>Anmeldung</title>
    <link rel="stylesheet" href="{% static 'components/textfield/style.css' %}">
    <link rel="stylesheet" href="{% static 'components/buttonBar/style.css' %}">
    <link rel="stylesheet" href="{% static 'components/tabs/style.css' %}">
    <link rel="stylesheet" href="{% static 'components/banner/style.css' %}">
    <link rel="stylesheet" href="{% static 'page/anmeldung/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="as_page_anmeldung">
        <div class="asl_logo">
            <img src="{% static 'medien/logo.svg' %}" alt="">
        </div>
            <as-textfield label="Benutzername" v-model="user"></as-textfield>
            <div id="asl_eye_passwort">
                <img src="{% static 'medien/eye_icon.svg' %}" alt="" @click="passwortAnzeigen()">
                <as-textfield label="Passwort" type="password" v-model="passwort"></as-textfield>
            </div>

            <as-button-bar class="asl_buttonBar_recht" :link="false" label="Anmelden" @click="anmelden()"></as-button-bar>
            <as-button-bar href="./register/"  :link="true" label="Registrieren"></as-button-bar>
    </div>

    <script src={% static "components/textfield/component.js" %}></script>
    <script src={% static "components/buttonBar/component.js" %}></script>
    <script src={% static "components/tabs/component.js" %}></script>
    <script src={% static "components/banner/component.js" %}></script>
    <script src={% static "page/anmeldung/scoped-javascript.js" %}></script>
</body>
</html>
