<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Wochenübersicht</title>
<!--    <link rel="stylesheet" href="../../components/textfield/style.css">-->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../../components/buttonBar/style.css">
    <link rel="stylesheet" href="../../components/dropdown/style.css">
    <link rel="stylesheet" href="../../components/textareafield/style.css">
    <link rel="stylesheet" href="../../components/tabs/style.css">

</head>
<body v-cloak>
    <div id="as_page_wochenuebersicht">
        <as-tabs v-bind:tabs="as_tabs" :hidden="false">
            <h1>Wochenübersicht </h1>
            <as-dropdown label="Monat" :options="auswahllisten.monat" v-model="eingaben.monat"></as-dropdown>
            <as-dropdown label="Jahr" :options="auswahllisten.jahr" v-model="eingaben.jahr"></as-dropdown>
<!--            <as-textareafield label="Eintrag" v-model="eintrag" rows="4" maxlength="500"></as-textareafield>-->
            <as-button-bar href="javascript:;" :link="false" label="Filtern/Suchen" @click="sucheWochen()"></as-button-bar>
            <div v-if="listWochen.length > 0 " class="as_container_wochen">
                <div href="../../page/wocheneintrag/page.html">+</div>
                <div v-for="week in listWochen">
                    <div>{{week.wochenstart}} bis {{week.wochenende}}</div>
                    <div><li :class="week.wochenstatuscode ==='10'?'':'as_incomplete'"> {{week.wochenstatusdecode}}</li></div>
                    <div>
                        <a href="../../page/wocheneintrag/page.html"><img src="../../medien/as_bearbeiten.svg"/>Bearbeiten</a>
                        <a href="javascript:;" @click="goToAlert()"><img src="../../medien/as_ansicht.svg"/>Einsehen</a>
<!--                        todo: Verlinkung zum Dokumentexport | Ist die Funktion hier erwünscht?-->
                        <a href="javascript:;" target="_blank"><img src="../../medien/as_export.svg"/>Exportieren</a>
                    </div>
                </div>


            </div>
            <div v-else-if="!listWochen.length > 0">
                Für diese Angaben sind keine Einträge vorhanden.
            </div>
        </as-tabs>

    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js"></script>
    <script src="../../components/textfield/component.js"></script>
    <script src="../../components/dropdown/component.js"></script>
    <script src="../../components/textareafield/component.js"></script>
    <script src="../../components/buttonBar/component.js"></script>
    <script src="../../components/tabs/component.js"></script>
    <script src="scoped-javascript.js"></script>
</body>
</html>