.as_block
{
    box-sizing: border-box;
    border: 1px solid #166502;
    border-radius: 5px;
    width: 100%;
    margin: 15px 0;
    position: relative;
}
.as_block.as_block_linePadding_true
{
    padding: 12px;
}