<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leistung</title>
    <link rel="stylesheet" href="../../components/textfield/style.css">
    <link rel="stylesheet" href="../../components/buttonBar/style.css">
    <link rel="stylesheet" href="../../components/tabs/style.css">
    <link rel="stylesheet" href="../../components/dropdown/style.css">
    <link rel="stylesheet" href="../../components/banner/style.css">
    <link rel="stylesheet" href="../../components/block/style.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <div id="as_page_register">
        <as-banner></as-banner>
        <as-tabs v-bind:tabs="as_tabs" :hidden="false">
            <h1>Ich bin neue hier...</h1>
            <as-block :line-padding="true">
                <as-textfield label="Vorname" v-model="benutzer.vorname"></as-textfield>
                <as-textfield label="Name" v-model="benutzer.name"></as-textfield>
                <as-textfield label="Klasse" v-model="benutzer.klasse"></as-textfield>
                <as-textfield label="Unternehmen" v-model="benutzer.unternehmen"></as-textfield>
            </as-block>

            <as-block :line-padding="true">
                <as-textfield label="Benutzername" v-model="benutzer.userName"></as-textfield>
                <div id="asl_eye_passwort">
                    <img src="../../medien/eye_icon.svg" alt="" @click="passwortAnzeigen()">
                    <as-textfield label="Passwort" type="password" v-model="benutzer.passwort"></as-textfield>
                </div>
            </as-block>




            <as-button-bar :link="false" label="Speichern" @click="speichern()"></as-button-bar>
        </as-tabs>
    </div>

    <script src="../../components/textfield/component.js"></script>
    <script src="../../components/buttonBar/component.js"></script>
    <script src="../../components/tabs/component.js"></script>
    <script src="../../components/banner/component.js"></script>
    <script src="../../components/dropdown/component.js"></script>
    <script src="../../components/block/component.js"></script>
    <script src="scoped-javascript.js"></script>
</body>
</html>