<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Wochenübersicht</title>
<!--    <link rel="stylesheet" href="{% static 'components/textfield/style.css' %}">-->
    <link rel="stylesheet" href="{% static 'page/wochenuebersicht/style.css' %}">
    <link rel="stylesheet" href="{% static 'components/buttonBar/style.css' %}">
    <link rel="stylesheet" href="{% static 'components/dropdown/style.css' %}">
    <link rel="stylesheet" href="{% static 'components/textareafield/style.css' %}">
    <link rel="stylesheet" href="{% static 'components/tabs/style.css' %}">
    <link rel="stylesheet" href="{% static 'components/banner/style.css' %}">

</head>
<body>
    <div id="as_page_wochenuebersicht" v-cloak>
        <as-banner></as-banner>
        <as-tabs v-bind:tabs="as_tabs" :hidden="false">
            <h1>Wochenübersicht</h1>
            <div class="as_suchfelder">
                <as-dropdown label="Monat" :options="auswahllisten.monat" v-model="eingaben.monat"></as-dropdown>
                <as-dropdown label="Jahr" :options="auswahllisten.jahr" v-model="eingaben.jahr"></as-dropdown>
            </div>
            <as-button-bar href="javascript:;" :link="false" label="Suchen" @click="sucheTage()"></as-button-bar>
            <div class="as_noitem" v-if="!listTage.length > 0">
                <span >Es sind keine Einträge vorhanden.</span>
            </div>
            <div class="as_container_wochen">
                <div><a href="{% static 'page/wocheneintrag/page.html' %}">+</a></div>
                <div v-if="listTage.length > 0 " v-for="week in listWochen">
                    <div>{{week.wochenstart}} bis {{week.wochenende}}</div>
                    <div><div v-if="week.istVollstaendig === '1'"><li :class="week.istVollstaendig ==='1'?'':'as_incomplete'">vollständig</li></div><div v-else="week.istVollstaendig === '0'"><li :class="week.istVollstaendig ==='1'?'':'as_incomplete'">offene Einträge</li></div></div>
                    <div>
                        <a href="{% static 'page/wocheneintrag/page.html' %}"><img src="{% static 'medien/edit_icon_black_noLine.svg' %}"/>Bearbeiten</a>
                        <a href="javascript:;" @click="getWeek();"><img src="{% static 'medien/ansicht_icon_black.svg' %}"/>Einsehen</a>
                        <a href="javascript:;" target="_blank"><img src="{% static 'medien/export_icon_black.svg' %}"/>Exportieren</a>
                    </div>
                </div>
            </div>
        </as-tabs>

    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js"></script>
    <script src="{% static 'components/textfield/component.js' %}"></script>
    <script src="{% static 'components/dropdown/component.js' %}"></script>
    <script src="{% static 'components/textareafield/component.js' %}"></script>
    <script src="{% static 'components/buttonBar/component.js' %}"></script>
    <script src="{% static 'components/tabs/component.js' %}"></script>
    <script src="{% static 'components/banner/component.js' %}"></script>
    <script src="{% static 'page/wochenuebersicht/scoped-javascript.js' %}"></script>
</body>
</html>
